packages:

  yum:
    gcc-c++: []
    make: []


container_commands:
  01_docker:
    command: "yum-config-manager --enable epel; yum install -y docker-io; /sbin/service docker restart ; pwd; ls; docker build -t 'virtual_machine' - < Setup/Dockerfile ; chmod 777 /var/run/docker.sock; chmod 777 temp;"
