container_commands:
  01_docker:
    command: "/sbin/service docker restart ; chmod 777 /var/run/docker.sock; chmod 777 temp;"

  02_change_proxy_timeout:
    command: |
      sed -i '/\s*location \/ {/c \
              location / { \
                  proxy_connect_timeout       300;\
                  proxy_send_timeout          300;\
                  proxy_read_timeout          300;\
                  send_timeout                300;\
              ' /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/02_firewall":
    mode: "000755"
    owner: root
    group: root
    content: |
      /sbin/iptables -I FORWARD -d 0/0 -i docker0 ! -o docker0 -j REJECT --reject-with icmp-port-unreachable