container_commands:
  01_docker:
    command: "/sbin/service docker restart ; chmod 777 /var/run/docker.sock; chmod 777 temp;"

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/02_firewall":
    mode: "000755"
    owner: root
    group: root
    content: |
      /sbin/iptables -A OUTPUT -o lo -j ACCEPT; /sbin/iptables -A OUTPUT -p tcp \! --syn -j ACCEPT; /sbin/iptables -P OUTPUT DROP